<div class="row">
 <div class="col d-flex justify-content-center">
    <%= render partial: "form", locals: {title: t('profile.edit_title'), button_text: t('base_text.save'), path: update_profile_path } %>
 </div>
</div>