$primary: #00b887;
$secondary: #17a2b8;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary
);

.form-group .invalid-feedback::first-letter {
  text-transform: uppercase;
}

.btn-primary,
.btn-secondary {
  color: white !important;
}

.btn[class^="btn-outline"]:hover {
  color: white !important;
}

.btn-outline-danger {
  border: 1px solid red !important;
}

.btn-outline-secondary {
  border: 1px solid var(--blue-base-color) !important;
}

.btn-outline-secondary:hover {
  background-color: var(--blue-base-color) !important;
}

@import "bootstrap";
