$primary: #00b887;

$theme-colors: (
  "primary": $primary,
);

.form-group .invalid-feedback::first-letter {
  text-transform: uppercase;
}

.btn-primary {
  color: white !important;
}

@import "bootstrap";
