<nav class="navbar navbar-expand-lg navbar-light bg-green">
  <div class="col-auto mr-auto">
    <%= content_for :header_title %>
  </div>
  <div class="col-auto">
    <ul class="navbar-nav">
      
    </ul>
  </div>
</nav>